html {
  font-family: Helvetica, sans-serif;
  background: #282c34;
  color: #C4C9D2;
  margin-top: 30px;
  font-size: 19px;
}

body {
  margin: 0;
}

.container {
  max-width: 700px;
  margin: 0 auto;
  padding: 0 4%;
}

.list_box {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.box {
  margin-right: 25px;
}

p, li {
  font-size: 19px;
}

ol, ul {
  padding-left: 34px;
}

footer {
  background-color: #1A1D22;
  height: 100%;
  padding-top: 12px;
  padding-bottom: 8px;
}

h2 {
  margin-bottom: -6px;
  margin-top: 30px;
}

h3 {
  margin-bottom: -6px;
}

a {
  text-decoration: none;
}

a:link, a:visited {
  color: #61afef;
  transition: all 0.25s ease-out;
}

a:hover {
  color: #c678dd;
}

a:active {
  color: #e06c75;
}
