@use "styles" as *;

.container {
  flex-direction: column;
  gap: 5px;
}

.project-page {
  max-width: $page-width;
}

.back-link {
  text-align: left;
  margin-left: 3vw;
}

.project-entries {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: auto;
  gap: 10px;
}

.project {
  width: 88vw;
  max-width: 360px;
  min-height: 365px;
  padding: 15px 10px;

  img {
    border-radius: 10px;
    width: 87vw;
    max-width: 350px;
    height: 180px;
    margin: 0 auto 10px;
    object-fit: cover;
  }
}

.color-script {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 20px;
  user-select: none;
  font-family: monospace;
  letter-spacing: -1.4px;
  line-height: 0.92;
  font-size: 13px;

  &--red {
    color: $red;
  }

  &--green {
    color: $green;
  }

  &--orange {
    color: $peach;
  }

  &--blue {
    color: $blue;
  }

  &--magenta {
    color: $pink;
  }

  &--cyan {
    color: $teal;
  }
}
