@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:300,400,700&display=swap');

$bg-primary:      #282D38;
$bg-secondary:    #1B1F26;
$fg-primary:      #d8dee9;
$fg-primary-soft: #BCC1CB;

$nord-red:     #bf616a;
$nord-green:   #a3be8c;
$nord-yellow:  #ebcb8b;
$nord-blue:    #88C0D0;
$nord-magenta: #b48ead;

$nord7:  #8fbcbb;
$nord8:  #88c0d0;
$nord9:  #81a1c1;
$nord10: #5e81ac;

$nord-blue-light: #9BD0DF;

$page-width: 850px;

html {
  font-family: "Roboto Mono", monospace;
  background: $bg-primary;
  color: $fg-primary;
  font-size: 1.0em;
  margin: 0;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between;
}

.container {
  max-width: $page-width;
  margin: 15px auto 0 auto;
  padding: 0 4%;
  display: flex;
  flex-direction: row;
  gap: 15px;
  flex: 1 0 auto;
}

.container .info, .container .projects {
  max-width: 400px;
}

.info, .projects {
  flex: 1;
}

.info__about__location {
  margin-top: 5px;
}

.container h1 {
  margin-bottom: 5px;
}

footer {
  background-color: $bg-secondary;
  min-height: 20px;
  width: 100%;
  bottom: 0;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-top: 30px;
}

.footer-container {
  max-width: $page-width;
  margin: 0 auto;
  padding: 0 5%;
  display: flex;
  flex-direction: column;
}

h2 {
  margin-bottom: -3px;
  margin-top: 30px;
}

h3 {
  margin-bottom: 6px;
}

/* Font Awesome icons */
.fab, .fas {
  width: 1.1em;
  text-align: center;
  color: $nord-blue;
}

.info__title, .projects__title {
  text-align: center;
  margin-right: 28px;
}

.project-entries {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 12px 0;

  h1 {
    margin: 22px 0;
  }

  h3 {
    margin: 3px 0;
  }

  p {
    margin: 5px 0;
  }

  .project-entries__project {
    display: flex;
    flex-direction: column;
  }

}

a {
  text-decoration: none;
  border-bottom: 1px dashed $fg-primary-soft;
}

a:link, a:visited {
  color: $fg-primary;
}

a:hover {
  color: $nord8;
  border-bottom: 1px dashed $nord8;
}

.footer-break {
  display: none;
}

@media only screen and (max-width: 700px) {
  .info h1 {
    margin-top: 8px;
  }

  .container {
    flex-direction: column;
    align-items: center;
  }

  .info__title, .projects__title {
    margin-right: 0;
  }

  footer {
    text-align: center;
    margin-top: 2px;
  }

  .footer-break {
    display: inline
  }
}
