$bg-primary:      #1E1E2E;
$bg-secondary:    #1A1826;
$fg-primary:      #D3C9D6;
$fg-primary-soft: #988BA2;

$gray-0:   #6E6C7E;
$gray-1:   #988BA2;
$black-3:  #302D41;
$white:    #D9E0EE;

$flamingo: #F2CDCD;
$mauve:    #DDB6F2;
$red:      #F28FAD;
$peach:    #F8BD96;
$green:    #ABE9B3;
$yellow:   #FAE3B0;
$blue:     #96CDFB;
$pink:     #F5C2E7;
$rosewater: #F5E0DC;

$teal:         #B5E8E0;
$sky:          #89DCEB;

$lavender: #C9CBFF;

$page-width: 850px;

html {
  font-family: "JetBrains Mono", monospace;
  background: $bg-primary;
  color: $fg-primary;
  font-size: 1.0em;
  margin: 0;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between;
}

.container {
  max-width: $page-width;
  margin: 25px auto 0 auto;
  padding: 0 4%;
  display: flex;
  flex-direction: row;
  gap: 15px;
  flex: 1 0 auto;
}

.container .info, .container .projects {
  max-width: 400px;
}

footer {
  background-color: $bg-secondary;
  min-height: 20px;
  width: 100%;
  bottom: 0;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-top: 30px;
}

.footer-container {
  max-width: $page-width;
  margin: 0 auto;
  padding: 0 5%;
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 30px;
  margin: 0 0 3px;
}

h2 {
  font-size: 22px;
}

h2, h3 {
  margin-bottom: 6px;
}

/* Font Awesome icons */
.container {
  .fab, .fas {
    width: 1.1em;
    text-align: center;
    color: $teal;
  }
}

.info {
  h2 {
    color: $green;
  }

  .fab, .fas {
    color: $white;
  }
}

.info, .projects {
  flex: 1;
}

.info__about__location {
  margin-top: 5px;
}

.info__title, .projects__title {
  text-align: left;

  &__description {
    color: $gray-1;
  }

  a, a:hover {
    border: none;
    align-self: center;
  }
}

.info__title {
  display: flex;
  gap: 12px;
  align-items: flex-start;
}

.info__title__pfp {
  width: 85px;
  height: auto;
  border-radius: 25%;
  align-self: center;

  &:hover {
    filter: brightness(1.2);
  }
}

.pacman {
  margin: 20px 0;
  user-select: none;
  font-size: 20px;
  display: flex;
  gap: 5px;

  &__pacman {
    color: $yellow;
  }

  &__ghost--green {
    color: $green;
  }

  &__ghost--orange {
    color: $peach;
  }

  &__ghost--blue {
    color: $blue;
  }

  &__ghost--red {
    color: $red;
  }

  &__ghost--pink {
    color: $mauve;
  }
}

.projects__title {
  text-align: center;
}

.project-entries {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin: 12px 0;

  h1 {
    margin: 22px 0;
  }

  h3 {
    margin: 3px 0;
  }

  p {
    margin: 5px 0;
  }

  .project {
    display: flex;
    flex-direction: column;
    background-color: $bg-secondary;
    padding: 15px;
    border-radius: 10px;
  }

  .project--blue {
    .fab, .fas {
      color: $blue;
    }
  }

  .project--green {
    .fab, .fas {
      color: $green;
    }
  }

  .project--yellow {
    .fab, .fas {
      color: $yellow;
    }
  }

}

// Workaround because the lightning emoji (⚡) is just a font letter
// in JetBrains Mono
.emoji {
  font-family: monospace;
  font-size: 15px;
}

a {
  text-decoration: none;
  border-bottom: 1px dashed $fg-primary-soft;
}

a:link, a:visited {
  color: $fg-primary;
}

a:hover {
  color: $teal;
  border-bottom: 1px dashed $teal;
}

.footer-break {
  display: none;
}

@media only screen and (max-width: 700px) {
  .container {
    flex-direction: column;
    align-items: center;
  }

  .info h1 {
    margin-top: 8px;
  }

  .info__title, .projects__title {
    margin-right: 0;
    text-align: center;
  }

  .info__title {
    flex-direction: column;
    align-items: center;
    gap: 3px;

    &__pfp {
      height: 100px;
      width: auto;
    }
  }

  footer {
    text-align: center;
    margin-top: 2px;
  }

  .footer-break {
    display: inline
  }
}
