:root {
  /* Catppuccin Latte */
  --ctp-rosewater: #dc8a78;
  --ctp-flamingo: #dd7878;
  --ctp-pink: #ea76cb;
  --ctp-mauve: #8839ef;
  --ctp-red: #d20f39;
  --ctp-maroon: #e64553;
  --ctp-peach: #fe640b;
  --ctp-yellow: #df8e1d;
  --ctp-green: #40a02b;
  --ctp-teal: #179299;
  --ctp-sky: #04a5e5;
  --ctp-sapphire: #209fb5;
  --ctp-blue: #1e66f5;
  --ctp-lavender: #7287fd;

  --ctp-text: #4c4f69;
  --ctp-subtext1: #5c5f77;
  --ctp-subtext0: #6c6f85;
  --ctp-overlay2: #7c7f93;
  --ctp-overlay1: #8c8fa1;
  --ctp-overlay0: #9ca0b0;
  --ctp-surface2: #acb0be;
  --ctp-surface1: #bcc0cc;
  --ctp-surface0: #ccd0da;

  --ctp-base: #eff1f5;
  --ctp-mantle: #e6e9ef;
  --ctp-crust: #dce0e8;

  --bg: var(--ctp-mantle);
  --fg: var(--ctp-text);
  --fg-muted: var(--ctp-overlay1);
  --fg-subtle: var(--ctp-surface2);
  --fg-subtler: var(--ctp-surface0);
  --accent: var(--ctp-sky);
  --accent-name: var(--ctp-green);
  --accent-sidebar: var(--ctp-peach);

  --sans-font: "IBM Plex Sans";
  --mono-font: "IBM Plex Mono";
}

html, body {
  font-family: var(--sans-font), sans-serif;
  font-size: 17px;
  font-weight: 450;
  margin: 0;
  color: var(--fg);
  background-color: var(--bg);
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
}

h1 {
  font-size: 30px;
  margin-bottom: 0.2em;
}

.frontpage h2 {
  font-size: 21px;
  margin: 0.6em 0;
}

h2 {
  font-size: 24px;
  margin: 0.7em 0;
}

a {
  color: inherit;
  text-decoration: none;
  border-bottom: solid 2px var(--accent);
}

a:hover {
  color: var(--accent);
  border-bottom-color: var(--accent);
}

hr {
  margin: 0.1em 0;
  height: 3px;
  background: var(--fg-subtler);
  border: 0;
}

.blog-hr {
  margin-top: 0.5em;
}

.container {
  margin: 60px auto 0;
  padding: 0 4%;
  max-width: 800px;
}

.columns {
  display: flex;
  gap: 20px;
}

.sidebar-top {
  display: flex;
  gap: 18px;
  align-items: center;
}

.sidebar-header {
  border-bottom: solid 3px var(--accent-name);
  font-weight: 480;

  font-size: 30px;
  margin-bottom: 0.5em;
}

.sidebar {
  width: 30%;
}

.sidebar-link {
  margin: 0.25em 0;
}

.sidebar-link a {
  border-bottom-color: var(--accent-sidebar);
}

.sidebar-link a:hover {
  color: var(--accent-sidebar);
}

.sidebar-link.active a {
  font-weight: 700;
  border-bottom: none;
}

.sidebar-nav {
  display: flex;
  flex-direction: column;
}

.columns main {
  width: 72%;
}

.posts {
  margin-top: 1em;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.post {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.post-date {
  font-weight: 400;
  text-align: right;
  min-width: 110px;
}

.post-text {
  flex: 1;
}

.post-title {
  font-weight: 500;
}

.post-description {
  margin-top: 0.3em;
}

.post-image {
  margin: 0.5em 0;
}

.blog-date {
  margin: 0.2em 0;
  font-weight: 400;
}

.blog-image-link, .url-no-highlight {
  text-decoration: none;
  border: none;
}

.blog-hero-image {
  margin: 1em 0;
}

main img {
  max-width: 100%;
}

th {
  text-align: left;
}

footer, footer a {
  color: var(--fg-muted);
  text-align: center;
  margin-top: 2.7em;
  margin-bottom: 1.8em;
  border-bottom-color: var(--fg-muted);
}

ul, ol {
  margin: 0;
  padding-left: 22px;
}

.cat {
  font-family: source-sans-mono, monospace;
  user-select: none;
  color: var(--fg-subtle);
}

.cat-desktop {
  margin-top: 16px;
  font-weight: 600;
}

.cat-mobile {
  display: none;
  font-size: 11px;
  color: var(--fg-muted);
  font-weight: 900;
}

::selection {
  background-color: color-mix(in srgb, var(--ctp-sky) 35%, transparent);
}

.external::after {
  background-color: currentcolor;
  content: "";
  display: inline-block;
  height: 1em;
  margin-left: -.09em;
  margin-top: .2em;
  -webkit-mask-image: url(/assets/external-link.svg);
  mask-image: url(/assets/external-link.svg);
  -webkit-mask-size: cover;
  mask-size: cover;
  vertical-align: text-top;
  width: 1em;
}

address {
  font-style: normal;
}

code {
  font-family: var(--mono-font), monospace;
}

p code {
  font-size: 15px;
  border: 1px solid var(--ctp-surface1);
  border-radius: 5px;
  padding: 0 5px;
  text-wrap: nowrap;
}

.astro-code {
  background-color: var(--bg) !important;
  font-size: 14px;
  border-radius: 5px;
  padding: 0.5em 0.8em;
}

@media only screen and (max-width: 800px) {
  .container {
    margin-top: 20px;
  }

  .columns {
    gap: 20px;
  }
  
  .sidebar {
    width: 100%;
  }

  .columns main {
    width: 100%;
  }

  .sidebar-nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 0.3em;
    column-gap: 0.1em;
    align-content: flex-start;
    margin: 0.5em 0;
  }

  .sidebar-link {
    margin: 0 0.7em 0 0;
  }

  .columns {
    flex-direction: column;
  }

  .link-icons {
    justify-content: center;
  }

  .sidebar-header {
    margin-bottom: 0;
  }

  .cat-mobile {
    display: block;
  }

  .cat-desktop {
    display: none;
  }
}
