:root {
  --fg: #4D4D4D;
  --light: #818181;
  --green: #8aa44a;
}

html, body {
  font-family: source-sans-pro, sans-serif;
  font-size: 18px;
  margin: 0;
  color: var(--fg);
}

h1, h2, h3, .sidebar-header {
  font-weight: inherit;
  color: var(--green);
}

.sidebar-header {
  font-size: 28px;
  font-weight: 500;
}

a {
  color: inherit;
  text-decoration: none;
  border-bottom: solid 2px var(--green);
}

a:hover {
  color: var(--green);
}

.container {
  margin: 80px auto 0;
  padding: 0 4%;
  max-width: 700px;
}

.columns {
  display: flex;
  gap: 20px;
}

.sidebar {
  width: 30%;
}

.sidebar-link {
  margin: 0.4em 0;
}

.sidebar-link.active {
  font-weight: 700;
}

.sidebar-nav {
  display: flex;
  flex-direction: column;
}

.columns main {
  width: 70%;
}

footer {
  color: var(--light);
  text-align: center;
  margin: 1.5em 0;
}


@media only screen and (max-width: 600px) {
  .container {
    margin-top: 30px;
  }

  .columns {
    gap: 20px;
  }
  
  .sidebar {
    width: 100%;
  }

  .sidebar-nav {
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    margin: 0.5em 0;
  }

  .sidebar-link {
    margin: 0 0.7em 0 0;
  }

  .columns {
    flex-direction: column;
  }

  .link-icons {
    justify-content: center;
  }
}
