---
import Layout from '../layouts/Layout.astro';

import removeMd from 'remove-markdown';

const posts = (await Astro.glob('./blog/*.{md,mdx}')).sort(
	(a, b) => new Date(b.frontmatter.pubDate).valueOf() - new Date(a.frontmatter.pubDate).valueOf()
);

function getFirstParagraph(compiledContent) {
    console.log(compiledContent);
    const re = new RegExp("(.|\n)*?\n\n", "gm");
    const found = [...compiledContent.matchAll(re)];
    console.log(found);
    const firstParagraph = found[0][0];
    return removeMd(firstParagraph);
}
---

<Layout title="Blog Posts">
    <main>
        <h1 style="margin-top: 0; margin-bottom: 0.8em;">Blog Posts</h1>

        <div class="posts">
            {posts.map((post) => (
            <div class="post">
                <time datetime={post.frontmatter.pubDate} class="post-date">
                    {new Date(post.frontmatter.pubDate).toLocaleDateString('en-us', {
                    year: 'numeric',
                    month: 'short',
                    day: 'numeric',
                    })}
                </time>

                <div class="post-text">
                    <a href={post.url} class="post-title">{post.frontmatter.title}</a>
                    <div class="post-description">
                    {getFirstParagraph(post.rawContent())}
                    </div>
                </div>

            </div>
            ))}
        </div>
    </main>
</Layout>
