---
import Layout from '../layouts/Layout.astro';

const posts = (await Astro.glob('./blog/*.{md,mdx}')).sort(
	(a, b) => new Date(b.frontmatter.pubDate).valueOf() - new Date(a.frontmatter.pubDate).valueOf()
);
---

<Layout title="Blog">
    <main>
        <h1 style="margin-top: 0; margin-bottom: 0.8em;">Blog Posts</h1>

        <div class="posts">
            {posts.map((post) => (
            <div class="post">
                <time datetime={post.frontmatter.pubDate} class="post-date">
                    {new Date(post.frontmatter.pubDate).toLocaleDateString('en-us', {
                    year: 'numeric',
                    month: 'short',
                    day: 'numeric',
                    })}
                </time>

                <div class="post-text">
                    <a href={post.url} class="post-title">{post.frontmatter.title}</a>
                    {post.frontmatter.description && <div class="post-description">
                    {post.frontmatter.description}
                    </div>}
                </div>
            </div>
            ))}
        </div>
    </main>
</Layout>
