---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Software Engineer" previewTitle="About">
    <main>
        <p style="margin-top: 0;">Hi! I'm Angelo, a 22-year-old software engineer and open-source developer. I code on Linux (using Neovim btw).</p>

        <p>
        I'm passionate about <a href="https://go.dev/">Go</a> and <a href="https://www.rust-lang.org/">Rust</a>.
        I'm the creator of the <a href="https://github.com/angelofallars/htmx-go">htmx-go</a> library with 400+ stars.
        </p>


        <p>
        I'm interested in compilers and programming language design.
        I've worked on an embeddable scripting language named
        <a href="https://git.sr.ht/~kolunmi/litok/tree/rust-version/item/README.md">litok</a>
        implemented in Rust.
        </p>


        <h3>Blog</h3>

        You can find my blog <a href="/blog/">here</a>.

        <h3>Contact</h3>

        Feel free to send me an email at <a href="mailto:ba.fallaria@gmail.com">ba.fallaria@gmail.com</a>.

    </main>
</Layout>
