---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Software Engineer">
    <main>
        <p style="margin-top: 0;">Hi! I'm Angelo, a 19-year-old coder who likes tinkering with computers.</p>

        <p>I work remotely as a software engineer at <a href="https://www.sofsafe.cloud">SofSafe</a>,
        and I am a maintainer for <a href="https://waycrate.github.io">Waycrate</a>.</p>

        <p>
        I am passionate about Linux and open-source software. In my free time, I contribute to and write open-source projects.</p>

        <h3>Contact</h3>

        Feel free to send me an email at <a href="mailto:ba.fallaria@gmail.com">ba.fallaria@gmail.com</a>.

        </div>
    </main>
</Layout>
