---
import Layout from '../layouts/Layout.astro';
---

<Layout>
    <main>
        <p style="margin-top: 0;">Hi! I'm a 19-year-old coder who likes tinkering with computers.</p>

        <p>I work remotely as a software engineer at <a href="https://www.sofsafe.cloud">SofSafe</a>,
        and I am a maintainer for <a href="https://waycrate.github.io">Waycrate</a>.</p>

        <p>
        I am passionate about Linux and open-source software. In my free time, I contribute to open-source projects.</p>

        </div>
    </main>
</Layout>
