---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Software Engineer" previewTitle="About">
    <main>
        <p style="margin-top: 0;">Hi! I'm Angelo, a 20-year-old coder who likes programming on Linux (using Neovim btw). I write open-source software.</p>

        <p>I work remotely as a software engineer at <a href="https://www.sofsafe.cloud">SofSafe</a>.
        </p>

        <p>
        I'm super passionate about <a href="https://go.dev/">Go</a> and <a href="https://www.rust-lang.org/">Rust</a>.
        I'm the creator of the <a href="https://github.com/angelofallars/htmx-go">htmx-go</a> library with 200+ stars.
        I'm working on a new language named <a href="https://github.com/silverlang">Silver</a>, with the initial compiler written in Rust.
        </p>


        <h3>Blog</h3>

        You can find my blog <a href="/blog/">here</a>.

        <h3>Contact</h3>

        Feel free to send me an email at <a href="mailto:ba.fallaria@gmail.com">ba.fallaria@gmail.com</a>.

    </main>
</Layout>
