---
import Layout from '../layouts/Layout.astro';
import { Image } from 'astro:assets';

const posts = (await Astro.glob('./blog/*.{md,mdx}')).sort(
	(a, b) => new Date(b.frontmatter.pubDate).valueOf() - new Date(a.frontmatter.pubDate).valueOf()
);
---

<Layout title="Software Engineer" previewTitle="Angelo Fallaria - Software Engineer">
  <main class="frontpage">
    <h1 style="margin-top: 0; margin-bottom: 0.5em;">
      Angelo Fallaria
    </h1>
    <Image src="/avatar.webp" class="avatar" alt="Angelo smiling with sunglasses and a pink shirt" width="130" height="156" />
    <p style="margin-top: 0;">
    I'm a 22-year-old software engineer from the Philippines.
    </p>

    <p>
      I'm also an open-source maintainer at
      <a href="https://bettergov.ph" target="_blank">BetterGov.ph</a>,
      the <a href="https://github.com/angelofallars/htmx-go" target="_blank">htmx-go</a> library,
      and <a href="https://github.com/Simple-Station/Einstein-Engines" target="_blank">Einstein Engines</a>, a fork of the game <a href="https://github.com/space-wizards/space-station-14" target="_blank">Space Station 14</a>.
    </p>

    <p>
      I am obsessed with developer workflow efficiency.
      I've used Neovim as my editor throughout my entire career, with a ThePrimeagen-inspired tmux setup to manage terminal sessions.
    </p>

    <p>
      On my Lily58 split mechanical keyboard I use the Colemak-DH keyboard layout to maximize home row usage, typing a peak of 146 words per minute on Monkeytype.
      <a href="https://opencode.ai/" target="_blank">OpenCode</a> supremacy!
    </p>

    <p>
      I love tiling window managers and cannot live without them. On Artix Linux (based on Arch btw) I use <a href="https://hypr.land/" target="_blank">Hyprland</a> and on macOS I use <a href="https://github.com/nikitabobko/AeroSpace" target="_blank">AeroSpace</a>.
    </p>

    <h2>Interests</h2>

    <ul>
      <li>DevOps (o11y, CI/CD)</li>
      <li>Neovim</li>
      <li>Linux</li>
      <li>Matcha drinks</li>
      <li>Software engineering books and articles
        <ul>
          <li>
            My top 2 newsletters: <a href="https://www.pragmaticengineer.com/" target="_blank">The Pragmatic Engineer</a> and <a href="https://alifeengineered.substack.com/" target="_blank">A Life Enginereed</a>
          </li>
          <li>
            Currently reading: <a href="https://www.engguidebook.com/" target="_blank">The Software Engineer's Guidebook</a> by Gergely Orosz
          </li>
          <li>
            Completed: <a href="https://www.interpreterbook.com/" target="_blank">Writing an Interpreter in Go</a> by Thorsten Ball
          </li>
        </ul>
      </li>
    </ul>

    <p>
      Want to reach out? Feel free to send an email at <a href="mailto:ba.fallaria@gmail.com">ba.fallaria@gmail.com</a>.
    </p>

    <h2>Blog</h2>

        <div class="posts">
            {posts.map((post) => (
            <div class="post">
                <time datetime={post.frontmatter.pubDate} class="post-date">
                    {new Date(post.frontmatter.pubDate).toLocaleDateString('en-us', {
                    year: 'numeric',
                    month: 'short',
                    day: 'numeric',
                    })}
                </time>

                <div class="post-text">
                    <a href={post.url} class="post-title">{post.frontmatter.title}</a>
                </div>

            </div>
            ))}
        </div>

  </main>
</Layout>
