---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Software Engineer" previewTitle="About">
    <main>
        <p style="margin-top: 0;">Hi there! I'm Angelo.</p>

        <p>I'm a 22-year-old software engineer with 2 years of experience, and an open-source maintainer.</p>

        <p>
        I'm passionate about Go and Rust.
        I created the <a href="https://github.com/angelofallars/htmx-go">htmx-go</a> library.
        </p>

        <p>
        I'm a maintainer at <a href="https://github.com/Simple-Station/Einstein-Engines">Einstein Engines</a>, a fork of the video game 
        <a href="https://github.com/space-wizards/space-station-14">Space Station 14</a>. I contributed the <a href="https://github.com/Simple-Station/Einstein-Engines/pull/1291">Plasmaman species</a> with unique mechanics, <a href="https://github.com/Simple-Station/Einstein-Engines/pull/1526/">hundreds of new cosmetics</a>, and
        <a href="https://github.com/Simple-Station/Einstein-Engines/pull/680">several</a> <a href="https://github.com/Simple-Station/Einstein-Engines/pull/686">new</a>
        <a href="https://github.com/Simple-Station/Einstein-Engines/pull/706">traits</a>.
        </p>

        If you want to keep in touch, feel free to email me at <a href="mailto:ba.fallaria@gmail.com">ba.fallaria@gmail.com</a>!

        <h3>Blog</h3>

        You can find my blog <a href="/blog/">here</a>.

    </main>
</Layout>
