---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Software Engineer" previewTitle="Angelo Fallaria - Software Engineer">
  <main class="frontpage">
    <h1 style="margin-top: 0;">
      Hey there!
    </h1>
    <p>
      I'm Angelo, a 22-year-old software engineer and open-source maintainer.
    </p>

    <p>
      I'm a fan of Go and Rust.
      You can like both languages!
    </p>

    <p>
      Isn't it fun to explore everything there is to coding?
      I've dabbled with so many things: backend, frontend, game dev, functional programming, and compilers.
    </p>

    <p>
      There are some open-source projects I maintain,
      like the <a href="https://github.com/angelofallars/htmx-go" target="_blank">htmx-go</a> library, and <a href="https://github.com/Simple-Station/Einstein-Engines" target="_blank">Einstein Engines</a>, a fork of the game <a href="https://github.com/space-wizards/space-station-14" target="_blank">Space Station 14</a>.
    </p>

    <h2>Interests</h2>

    <ul>
      <li>Linux</li>
      <li>Neovim (btw)</li>
      <li>Backend development</li>
      <li>Interpreters and compilers</li>
      <li>Proton for Linux gaming</li>
    </ul>

    <h2>Blog</h2>

    You can find my blog <a href="/blog/">here</a>, where I write about software engineering and optimizing developer workflows.

    <h2>Contact me</h2>

    Want to reach out? Feel free to email me at <a href="mailto:ba.fallaria@gmail.com">ba.fallaria@gmail.com</a>.<br>
    Or message me on Discord: my username is '<strong>angelo.codes</strong>'.

  </main>
</Layout>
