---
export interface Props extends astroHTML.JSX.AnchorHTMLAttributes {}
const { href, class: className, ...props } = Astro.props;
const isActive = href === Astro.url.pathname;
---

<div class:list={["sidebar-link", { active: isActive }]}>
    <a href={href} class={className} {...props}>
        <slot />
    </a>
</div>
