---
import SidebarLink from './SidebarLink.astro';
---

<div class="sidebar">
    <header class="sidebar-header">Angelo Fallaria</header>
    <nav class="sidebar-nav">
        <SidebarLink href="/">Home</SidebarLink>
        <SidebarLink href="/blog">Blog</SidebarLink>
            <SidebarLink href="https://github.com/angelofallars" target="_blank">GitHub</SidebarLink>
    </nav>
</div>
